* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.w25 {
    width: 25%;
}

.w75 {
    width: 75%;
}

.bloco {
    padding: 50px 0;
}