* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/************** dimensões ************/

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.w50 {
    width: 50%;
}

.w33 {
    width: 33%;
}

.w25 {
    width: 25%;
}

.w75 {
    width: 75%;
}

.center {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-linha {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.flex-coluna {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/************** cores ************/

.html-c {
    color: #E44D26;
}

.css-c {
    color: #264DE4;
}

.js-c {
    color: #E5A228;
}

.html-bg {
    background-image: linear-gradient(rgba(228, 77, 38, 0.8), rgba(241, 101, 41, 0.8)); 
}

.css-bg {
    background-image: linear-gradient(rgba(38, 77, 228, 0.8) , rgba(41, 101, 241, 0.8));
}

.js-bg {
    background-image: linear-gradient(rgba(229, 162, 40, 0.8), rgba(241, 191, 38, 0.8));
}

/************** header ************/

#cabeca {
    align-items: flex-start;
}

header {
    background-color: #222;
    height: 100px;
    position: relative;
}

header img {
    width: 200px;
    height: 200px;
}

header #icone {
    display: none;
}

header ul {
    list-style: none;
}

header li {
    padding: 40px 20px;
}

header a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

/************** main ************/

.bloco {
    padding: 80px 0;
}

main {
    text-align: center;
    background-image: url('img/Destaque_o20.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main h1 {
    margin-bottom: 40px;
    font-size: 50px;
}

main h2 {
    margin-bottom: 10px;
    font-size: 40px;
}

.bloco .imagem {
    width: 100%;
	max-width: 400px;
	max-height: 400px;
    margin: 0 auto;
}

.conteudo h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
}

.conteudo h3 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}

.conteudo p {
    text-align: justify;
    margin-bottom: 30px;
    font-size: 20px;
}

.conteudo a {
    color: #fff;
    background-color: #000;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.conteudo a:hover {
    color: #000;
    background-color: #fff;
}

/************** Links úteis ************/

#linksUteis {
    background-color: #bbb;
}

#linksUteis h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
}

#linksUteis h3 {
    font-size: 30px;
}

.item {
    justify-content: left;
    margin-top: 10px;
}

.item a {
    color: #000;
    font-size: 30px;
    margin-left: 10px;
    text-decoration: none;
}

/************** footer ************/

footer {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

footer ul {
    list-style: none;
}

footer li {
    padding: 0 10px;
}

/************** responsivo ************/

@media screen and (max-width: 900px) {

    .w25 {
        width: 40%;
    }

    .w75 {
        width: 60%;
    }

    #linksUteis * {
        font-size: 1.3rem;
        text-align: center;
    }

    #linksUteis h3 {
        margin-top: 50px;
    }
}

@media screen and (max-width: 650px) {
	.w33, .w50, .w25, .w75 {
		width: 100%;
	}

    header ul.flex-linha {
        display: none;
    }

    header #icone {
        display: block;
        position: fixed;
        color: #fff;
        top: 2rem;
        right: 2rem;
        font-size: 2rem;
        cursor: pointer;
        box-shadow: inset 5em 1em 1px #222;  
}

    .conteudo {
        width: 90%;
        margin: 0 auto;
        float: none;
    }

    .item {
        justify-content: center;
    }
}